.main-nav {
  font-family: 'Be Vietnam', sans-serif;

  .nav-container {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    .nav-links {
      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          margin: 0 1.5rem;
          list-style: none;
          a {
            text-decoration: none;
            color: $primary-color-dark;
            font-size: 1.6rem;
          }
          a:hover {
            color: $neutral-dark;
            @include easeOut;
          }
        }
      }
    }

    .nav-buttons {
      // min-width: 30vw;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      a:first-of-type {
        margin-right: 2rem;
      }
    }
  }
}

//Logo setup
.main-nav-logo {
  display: flex;
  i {
    color: $primary-color-bright;
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-left: 1rem;
  }

  a {
    color: $primary-color-dark;
  }
}

.secondary-logo {
  h2 {
    color: $neutral-light;
  }
}
