@import 'config';
@import 'nav';
// @import 'modal';
@import 'frontend-index';
@import 'footer';
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:700|Roboto:300,400,500,700&display=swap');

//Reusable styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: $desktop-width;
  margin: auto;
  position: relative;
  height: 100%;
}

button {
  box-sizing: border-box;
}

.btn {
  text-transform: uppercase;
  display: inline-block;
  font-size: $font-md;
  cursor: pointer;
  background-color: $primary-color-bright;
  color: $neutral-light;
  padding: 1rem 3rem;
  border: 3px solid $primary-color-bright;
  border-radius: $frontend-b-r;
  font-weight: 700;
}

.btn:hover {
  background-color: $primary-color-dark;
  border: 3px solid $primary-color-dark;
  color: $neutral-light;
}

.btn:focus {
  outline: none;
}

.btn-ghost {
  background-color: transparent;
  border: 3px solid $primary-color-bright;
  color: $primary-color-dark;
  font-weight: 700;
  margin-right: 2rem;
}
.btn-ghost:hover {
  border: 3px solid $primary-color-dark;
  color: $neutral-light;
}

h1,
h2 {
  color: $primary-color-dark;
  font-size: $font-xl;
  line-height: 1.2;
}

p {
  color: $neutral-dark;
  font-size: $font-md;
  line-height: 1.2;
}

a {
  text-decoration: none;
}
// Move me to login/auth

//
.content {
  display: none;
}
.content.active {
  display: block;
}
